language = "python3"
#run = "python3 LogisticRegression.py"
#run = "pip install numpy"
#run =  "git config --global user.name 'TrinhDuy94'"
#run = "git config --global user.email sergey.colab090545@gmail.com"
#run = "git add LogisticRegression.py"
#run = "git commit -m 'Add read data csv'"
run = "git push origin master"